.nav{
    grid-area: n ;
    background-color: rgb(14, 13, 13);
    font-size: 30px ;
    color: firebrick;
    height: 1000px;
    width: 400px;
  }
  .item a {
    color: maroon;
  }
  .item a.active {
    color: rgb(255, 0, 0);
  }